type eth_mac_addr, domain;
type eth_mac_addr_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(eth_mac_addr);

allow eth_mac_addr proc_cmdline:file { open read };
allow eth_mac_addr rootfs:dir { open read };
allow eth_mac_addr self:capability net_admin;
allow eth_mac_addr self:udp_socket create_socket_perms;
allow eth_mac_addr vendor_file:file execute_no_trans;
allow eth_mac_addr vendor_toolbox_exec:file execute_no_trans;
allowxperm eth_mac_addr self:udp_socket ioctl { SIOCSIFFLAGS SIOCSIFHWADDR };
